{% extends "base.html" %}
{% load url from future %}

{% block content %}
	<div style='width:40%;margin:0 auto;text-align:center; padding-top:200px'>
		{% if form.errors %}
			<p style='color:red'>Your username and password didn't match. Please try again.</p>
		{% endif %}
	</div>
	<div style='width:27%;margin:10px auto;text-align:center;'>
		<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
		{% csrf_token %}
			<table>
				<tr>
					<td>{{ form.username.label_tag }}</td>
    				<td>{{ form.username }}</td>
				</tr>
				<tr>
    				<td>{{ form.password.label_tag }}</td>
    				<td>{{ form.password }}</td>
				</tr>
			</table>
			<input type="submit" value="login" />
			<input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css"/>
<link rel="stylesheet" type="text/css" href="/static/42.css" />

{% endblock %}

{% block title %}Login Form{% endblock %}