{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="/static/42.css" />
{% endblock %}

{% block content %}
		<div id='left'>
			<h2>42 Coffee Cups Test Assignment</h2>
		</div>
		<div id='right'  style='text-align:right'>
			<a href="/login/">login</a>
		</div>
		<div id='clear'></div>
		
		<div id='left'>
			<p>{{ object.name }}</p>
			<p>{{ object.last_name }}</p>
			<p>{{ object.birth }}</p>
			<p>Photo:</p>
			<img style='width:100%' src='{{ object.photo }}' />			
		</div>
		<div id='right'>
			<p>{{ object.contacts }}</p>
			<p>Email: {{ object.email }}</p>
			<p>Jabber: {{ object.jabber }}</p>
			<p>Skype: {{ object.skype }}</p>
			<div style='border:1px solid grey'>
				<p>Other contacts:<hr></p>
				{% if object.other_contacts %}
					{{ object.other_contacts|safe }}
				{% else %}
					<p>No contacts</p>
				{% endif %}
			</div>	
			<div style='border:1px solid grey'>
				<p>Bio :<hr></p> 
				{% if object.bio %}
					{{ object.bio|safe }}
				{% else %}
					<p>No bio</p>
				{% endif %}
			</div>
		</div>
		<div id='clear'></div></div>

		<div id='foot'>
			<p class='bord'></p>
			<br>
			<a href="{% url requests %}">requests</a>
		</div>
{% endblock %}