{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="/static/42.css" />
{% endblock %}

{% block content %}
	
	<div id='content' style='min-width:600px; '>
		<h2>42 Coffee Cups Test Assignment</h2>
		<div id='left'>
			<p>{{ object.name }}</p>
			<p>{{ object.last_name }}</p>
			<p>{{ object.birth }}</p>
			<div style='height:16px'></div>
			<div style='border:1px solid grey'>
				<p>Bio :<hr></p> 
				{% if object.bio %}
					{{ object.bio|safe }}
				{% else %}
					<p>No bio</p>
				{% endif %}
			</div>			
		</div>
		
		<div id='right'>
			<p>{{ object.contacts }}</p>
			<p>Email: {{ object.email }}</p>
			<p>Jabber: {{ object.jabber }}</p>
			<p>Skype: {{ object.skype }}</p>
			<div style='border:1px solid grey'>
				<p>Other contacts:</p>
				<hr>
				{% if object.other_contacts %}
					{{ object.other_contacts|safe }}
				{% else %}
					<p>No contacts</p>
				{% endif %}
			</div>	
		</div>
		<br>
		
		<div id='right'>
			<a href="http://getbarista.com/project/286/">Project on GetBarista</a>
				<br>
				<a href="http://tasks.dobruiyyk.at.getbarista.com">Staging's address</a>
				<br>	
				<a href="http://reviework.com/dobr/tasks/">Project on ReviewWork</a>
				<br>
				<a href="https://github.com/dobruiyyk/tasks">Repo on Github</a>
		</div>
		
		<div id='clear'></div>
		</div>

		<div id='foot'>
			<p class='bord'></p>
			<br>
			<a href="{% url requests %}">requests</a>
		</div>
{% endblock %}